<!--
<style>
.responsive-ads { width: 336px; height: 280px; }
@media(min-width: 520px) { .responsive-ads { width: 468px; height: 60px; } }
@media(min-width: 768px) { .responsive-ads { width: 160px; height: 600px; } }
</style>
-->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mini-ad -->
<ins class="adsbygoogle"
     style="display:inline-block"
     data-ad-client="{{ site.JB.google-ads.ad-client }}"
     data-ad-slot="{{ site.JB.google-ads.ad-slot }}"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

